.logo_xl {
  width: 365px;
  height: 365px;

  img {
    padding: 5rem;
  }
}

.logo_sm {
  width: 65px;
  height: 65px;

  img {
    padding: .8rem;
  }
}

.logo_container {
  img {
    width: 100%;
    height: 100%;
  }
}
